numpy>=1.16.4
folium>=0.10.1
pyproj>=1.9.6
Jinja2>=2.10.1
seaborn>=0.9.0
SQLAlchemy>=1.3.5
pandas>=0.24.2
requests>=2.22.0
geopandas>=0.6.1
bokeh>=1.2.0
matplotlib>=3.1.0
scipy>=1.2.1
Shapely>=1.6.4.post1
GDAL>=2.3.3
georaster>=1.25
imageio>=2.8.0
nco>=1.0.0
netCDF4>=1.5.3
Pillow>=7.0.0
scikit_learn>=0.22.2.post1
watchdog>=0.10.2

xarray~=0.20.1
rioxarray~=0.9.1
regobslib~=0.2.1
pyodbc~=4.0.30
branca~=0.4.1
scikit-learn~=0.22.1