.rcorners {
    border-radius: 25px;
    background: rgb(0, 176, 240);
    padding: 20px;
}

table, th, td {

    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    background-color: white;
}

th.title {
    border: 0px solid black;
    background: rgb(0, 176, 240);
}

th.vertical{
    writing-mode: sideways-lr;
}

td.vl {
    background-color: rgb(50, 50, 50);
    color: white;
}

td.li {
    background-color: rgb(100, 100, 100);
}

td.po {
    background-color: rgb(150, 150, 150);
}

td.ul {
    background-color: rgb(200, 200, 200);
}

td.dl5 {
    background-color: rgb(35, 31, 32);
    color: white;
}

td.dl4 {
    background-color: rgb(237, 28, 36);
    text-align: center;
}

td.dl3 {
    background-color: rgb(247, 148, 30);
    text-align: center;
}

td.dl2 {
    background-color: rgb(255, 242, 0);
    text-align: center;
}

td.dl1 {
    background-color: rgb(80, 184, 72);
    text-align: center;
}



/*

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
*/